# COGS 108 - Data Checkpoint

# Names

- Aditya Sriram
- Nicole Liu
- Weston Chester
- Sophia Conti
- Katherine Gao

<a id='research_question'></a>
# Research Question

Is California on track to reach its goal of 100% zero emission sales by 2035?

Hypothesis: Based on previous data, we believe that California is on track to meet its 100% zero emission sales goal by 2035.

# Dataset(s)

- Dataset Name: New_ZEV_Sales_Last_updated_04-21-2023_ada 
- Link to the dataset: https://www.energy.ca.gov/files/zev-and-infrastructure-stats-data
- Number of observations: 18136

This dataset is a csv file containing information about the number of ZEVs (zero emission vehicles) sold per year. The data contains columns variables such as year, fuel type, county of sale, make and model of car, and total number of vehicles sold per year. 

- Dataset Name: Vehicles Registered By County 
- Link to the dataset: https://www.dmv.ca.gov/portal/dmv-research-reports/research-development-data-dashboards/vehicles-registered-by-county/
- Number of observations: 882 

This dataset is a collection of csv files that list the number of cars registered per county in California. The set contains variables such as county, autos, trucks, trailers, motorcycles, and the total per county.

In order to use this dataset along side the previous, we plan on grouping by county and then merging the two sets together. 

- Dataset Name: Electric Car Sales by Model in USA.csv
- Link to the dataset: https://www.kaggle.com/datasets/mathurinache/electriccarsalesbymodelinusa
- Number of observations: 57

This dataset contains information about the number of electric vehicles sales in the US over 2012 to 2019, broken down by month, make, and model. This dataset will not be merged with others, but used primarily to compare trends with the rest of the US. 

- Dataset Name: legislation - Sheet1.csv
- Link to the dataset: N/A. See more below
- Number of observations: 4

This dataset contains information about financial rebates and incentives passed in the state of California with regards to EVs. This dataset is not one found online but rather a running spreadsheet of legislation we group members have found while searching online. We will cross reference the year the legislation was passed with our previous datasets in order to potentially track trends.

# Setup

In [1]:
import pandas as pd

zev_sales = pd.read_csv('Data/zev_sales.csv')

reg_2008 = pd.read_csv('Data/Vehicles Registered By County-2008.csv', encoding='utf-16')
reg_2009 = pd.read_csv('Data/Vehicles Registered By County-2009.csv', encoding='utf-16')
reg_2010 = pd.read_csv('Data/Vehicles Registered By County-2010.csv', encoding='utf-16')
reg_2011 = pd.read_csv('Data/Vehicles Registered By County-2011.csv', encoding='utf-16')
reg_2012 = pd.read_csv('Data/Vehicles Registered By County-2012.csv', encoding='utf-16')
reg_2013 = pd.read_csv('Data/Vehicles Registered By County-2013.csv', encoding='utf-16')
reg_2014 = pd.read_csv('Data/Vehicles Registered By County-2014.csv', encoding='utf-16')
reg_2015 = pd.read_csv('Data/Vehicles Registered By County-2015.csv', encoding='utf-16')
reg_2016 = pd.read_csv('Data/Vehicles Registered By County-2016.csv', encoding='utf-16')
reg_2017 = pd.read_csv('Data/Vehicles Registered By County-2017.csv', encoding='utf-16')
reg_2018 = pd.read_csv('Data/Vehicles Registered By County-2018.csv', encoding='utf-16')
reg_2019 = pd.read_csv('Data/Vehicles Registered By County-2019.csv', encoding='utf-16')
reg_2020 = pd.read_csv('Data/Vehicles Registered By County-2020.csv', encoding='utf-16')
reg_2021 = pd.read_csv('Data/Vehicles Registered By County-2021.csv', encoding='utf-16')

ev_sales = pd.read_csv("Data/Electric Car Sales by Model in USA.csv")

legislation = pd.read_csv('Data/legislation - Sheet1.csv')

# Data Cleaning

We start with the dataframe for ZEV sales.

In [2]:
zev_sales.isna().groupby('Data Year').sum()

           County  FUEL_TYPE  MAKE  MODEL  Number of Vehicles
Data Year
False           0          0     0      0                   0

Looks like theres no NaN data in this set. We should check for placeholder values ('-' or '-99'), though.

In [3]:
zev_sales[zev_sales.eq('-').any(1)].shape[0] + zev_sales[zev_sales.eq('-99').any(1)].shape[0]

0

Looks like theres no '-' or '-99' either! Good job DMV.

In either case, we are looking to merge this dataset with a secondary one about car registrations, which only has data up to the year 2021. We should filter this dataset (which is about number of cars sold) to the time period of cars sold in 2021 and before.

In [4]:
zev_sales = zev_sales[zev_sales['Data Year'] <= 2021]

zev_sales

,Data Year,County,FUEL_TYPE,MAKE,MODEL,Number of Vehicles
0,1998,Los Angeles,Electric,Ford,Ranger,1
1,1998,Orange,Electric,Ford,Ranger,1
2,1998,San Bernardino,Electric,Ford,Ranger,2
3,1998,San Mateo,Electric,Ford,Ranger,1
4,1999,Santa Barbara,Electric,Ford,Ranger,1
...,...,...,...,...,...,...
12465,2021,Yuba,PHEV,Kia,Sorento PHEV,1
12466,2021,Yuba,PHEV,Subaru,Crosstrek,3
12467,2021,Yuba,PHEV,Toyota,Prius Prime,16
12468,2021,Yuba,PHEV,Toyota,RAV4 Prime,4
12469,2021,Yuba,PHEV,Volvo,XC90,1

We also see that the age of the average car in 2021 is [12 years](https://www.caranddriver.com/news/a33457915/average-age-vehicles-on-road-12-years/). However, EV batteries are predicted to last between [12-15 years](https://cars.usnews.com/cars-trucks/advice/how-long-do-ev-batteries-last), meaning that they would potentially last longer than the body of the car itself. Thus, we will say that we expect the average lifetime of an electric vehicle to be 12 years. Our dataset has its oldest car dating to 1998. By the average 12 year lifespan, we no longer expect that car to be in use and so it should be removed from the dataset. <br>

If we look at total automobile registrations in 2021, which is the most recent year from the other dataset, we would expect the oldest car registered (on average) to be 12 years old. This leads us to the conclusion that we should only look at ZEVs sold in or after 2009 in order to remain in the proper time frame.

In [5]:
zev_sales = zev_sales[zev_sales['Data Year'] >= 2009]

zev_sales

,Data Year,County,FUEL_TYPE,MAKE,MODEL,Number of Vehicles
19,2009,Alameda,Electric,Tesla,Roadster,5
20,2009,Contra Costa,Electric,Tesla,Roadster,1
21,2009,Humboldt,Electric,Ford,Ranger,1
22,2009,Kern,Electric,Tesla,Roadster,1
23,2009,Los Angeles,Electric,MINI,Cooper,6
...,...,...,...,...,...,...
12465,2021,Yuba,PHEV,Kia,Sorento PHEV,1
12466,2021,Yuba,PHEV,Subaru,Crosstrek,3
12467,2021,Yuba,PHEV,Toyota,Prius Prime,16
12468,2021,Yuba,PHEV,Toyota,RAV4 Prime,4
12469,2021,Yuba,PHEV,Volvo,XC90,1

Now onto the total registrations dataset. Some intial cleaning was done to the data by hand as the csv data was delimited by tabs instead of commas, so the delimiter were replaced inorder to be read in.

In [6]:
all_sets = [reg_2008,reg_2009,reg_2010,reg_2011,reg_2012,reg_2013,reg_2014,reg_2015,reg_2016,reg_2017,reg_2018,reg_2019,reg_2020,reg_2021]
year = 2008
for df in all_sets:
    df['Year'] = year
    year += 1;
    
registrations = pd.concat(all_sets).reset_index(drop= True)
registrations

,Counties,Autos,Trucks,Trailers,Motorcycles,Total Vehicles,Year
0,ALAMEDA,932092.0,194392.0,71257.0,31389.0,1229130,2008
1,ALPINE,1030.0,526.0,360.0,62.0,1978,2008
2,AMADOR,26926.0,15114.0,10163.0,2113.0,54316,2008
3,BUTTE,121017.0,54233.0,43693.0,6965.0,225908,2008
4,CALAVERAS,34297.0,19762.0,14928.0,2771.0,71758,2008
...,...,...,...,...,...,...,...
877,OUT OF STATE,109678.0,46415.0,66372.0,4975.0,227440,2021
878,IRP VEHICLES*,NaN,NaN,NaN,NaN,2099129,2021
879,MISC VEHICLES,NaN,NaN,NaN,NaN,121716,2021
880,FEE EXEMPT VEHICLES,231370.0,309182.0,75483.0,13223.0,629258,2021
881,STATEWIDE,25874446.0,6502906.0,2863546.0,866591.0,36229205,2021

We have first merged the separate tables into one and then added their year as a variable. We can now move on to removing non-relevant data.

In [7]:
registrations = registrations.dropna()
registrations = registrations[registrations.Counties != 'FEE EXEMPT VEHICLES'][registrations.Counties != 'IRP VEHICLES*'][registrations.Counties != 'MISC VEHICLES'][registrations.Counties != 'STATEWIDE']
registrations

/var/folders/0m/xh6cm8vn0l14rdl0zn854rmh0000gp/T/ipykernel_78901/1924242407.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  registrations = registrations[registrations.Counties != 'FEE EXEMPT VEHICLES'][registrations.Counties != 'IRP VEHICLES*'][registrations.Counties != 'MISC VEHICLES'][registrations.Counties != 'STATEWIDE']

,Counties,Autos,Trucks,Trailers,Motorcycles,Total Vehicles,Year
0,ALAMEDA,932092.0,194392.0,71257.0,31389.0,1229130,2008
1,ALPINE,1030.0,526.0,360.0,62.0,1978,2008
2,AMADOR,26926.0,15114.0,10163.0,2113.0,54316,2008
3,BUTTE,121017.0,54233.0,43693.0,6965.0,225908,2008
4,CALAVERAS,34297.0,19762.0,14928.0,2771.0,71758,2008
...,...,...,...,...,...,...,...
873,TUOLUMNE,40557.0,22158.0,15416.0,3076.0,81207,2021
874,VENTURA,596553.0,149531.0,54714.0,24345.0,825143,2021
875,YOLO,124118.0,38217.0,26301.0,4308.0,192944,2021
876,YUBA,44088.0,17588.0,13875.0,2485.0,78036,2021
877,OUT OF STATE,109678.0,46415.0,66372.0,4975.0,227440,2021

We here drop any rows with null values. We also removed rows that include data on nonconsumer vehicles, which includes the statewide data.

In [8]:
registrations = registrations.drop(columns=['Trailers', 'Motorcycles'])
registrations['Total Vehicles'] = registrations['Autos'] + registrations['Trucks']
registrations

         Counties     Autos    Trucks  Total Vehicles  Year
0         ALAMEDA  932092.0  194392.0       1126484.0  2008
1          ALPINE    1030.0     526.0          1556.0  2008
2          AMADOR   26926.0   15114.0         42040.0  2008
3           BUTTE  121017.0   54233.0        175250.0  2008
4       CALAVERAS   34297.0   19762.0         54059.0  2008
..            ...       ...       ...             ...   ...
873      TUOLUMNE   40557.0   22158.0         62715.0  2021
874       VENTURA  596553.0  149531.0        746084.0  2021
875          YOLO  124118.0   38217.0        162335.0  2021
876          YUBA   44088.0   17588.0         61676.0  2021
877  OUT OF STATE  109678.0   46415.0        156093.0  2021

[826 rows x 5 columns]

We have now removed any vehicles that we are not focusing on, such as motorcycles and trailers, and have updated the total vehicles column accordingly.

In [9]:
registrations['Delta'] = 0 
registrations = registrations.sort_values(['Counties','Year']).reset_index(drop= True)
registrations['Delta'].loc[registrations['Year'] != 2008] = registrations['Total Vehicles'].diff()
registrations

/var/folders/0m/xh6cm8vn0l14rdl0zn854rmh0000gp/T/ipykernel_78901/2511215689.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  registrations['Delta'].loc[registrations['Year'] != 2008] = registrations['Total Vehicles'].diff()

    Counties     Autos    Trucks  Total Vehicles  Year  Delta
0    ALAMEDA  932092.0  194392.0       1126484.0  2008      0
1    ALAMEDA  937076.0  188715.0       1125791.0  2009   -693
2    ALAMEDA  952005.0  184257.0       1136262.0  2010  10471
3    ALAMEDA  954158.0  177376.0       1131534.0  2011  -4728
4    ALAMEDA  974615.0  175467.0       1150082.0  2012  18548
..       ...       ...       ...             ...   ...    ...
821     YUBA   40802.0   16102.0         56904.0  2017    777
822     YUBA   41347.0   16227.0         57574.0  2018    670
823     YUBA   42839.0   16745.0         59584.0  2019   2010
824     YUBA   42929.0   17029.0         59958.0  2020    374
825     YUBA   44088.0   17588.0         61676.0  2021   1718

[826 rows x 6 columns]

We can now add a column that tells us the difference in registered cars from year to year in order to observe overall trends in car ownership. With this the data is now ready to be compared with the other dataset. <br>

Now onto the final dataset. This dataset is sorted with EV make and model on the rows and months on the columns, with the number of units sold as the data entries.

In [10]:
ev_sales

,Make,Model,Logo,janv-12,Feb 2012,mars-12,Apr 2012,May 2012,juin-12,juil-12,...,mars-19,Apr 2019,May 2019,juin-19,juil-19,Aug 2019,sept-19,oct-19,nov-19,Dec 2019
0,Chevrolet,Volt,https://www.carlogos.org/logo/Chevrolet-logo-2...,603.0,1626.0,3915.0,5377.0,7057.0,8817.0,10666.0,...,146667.0,147072.0,"147,48","147,813","148,063","148,337","148,687","148,757","148,907","149,057"
1,Toyota,Prius PHV,https://www.carlogos.org/logo/Toyota-logo-1989...,0.0,21.0,912.0,2566.0,3652.0,4347.0,5035.0,...,42345.0,42345.0,42345,42345,42345,42345,42345,42345,42345,42345
2,Nissan,Leaf,https://www.carlogos.org/logo/Nissan-logo-2013...,676.0,1154.0,1733.0,2103.0,2613.0,3148.0,3543.0,...,122534.0,123485.0,"124,701","125,857","126,795","127,912","128,96","129,847","130,987","132,214"
3,Tesla,Model S,https://www.carlogos.org/logo/Tesla-logo-2003-...,0.0,NaN,NaN,NaN,NaN,12.0,31.0,...,147517.0,148342.0,"149,367","151,117","152,092","153,142","154,242","154,992","156,492","157,992"
4,Ford,C-Max Energi,https://www.carlogos.org/logo/Ford-logo-2003-1...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,42231.0,42231.0,42231,42231,42231,42231,42231,42231,42231,42231
5,Ford,Focus Electric,https://www.carlogos.org/logo/Ford-logo-2003-1...,2.0,2.0,2.0,2.0,8.0,97.0,135.0,...,9242.0,9242.0,9242,9242,9242,9242,9242,9242,9242,9242
6,Mitsubishi,i-MiEV,https://www.carlogos.org/logo/Mitsubishi-logo-...,36.0,80.0,136.0,215.0,300.0,333.0,366.0,...,2028.0,2028.0,2028,2028,2028,2028,2028,2028,2028,2028
7,Toyota,Rav4 EV,https://www.carlogos.org/logo/Toyota-logo-1989...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2472.0,2472.0,2472,2472,2472,2472,2472,2472,2472,2472
8,Honda,Fit EV,https://www.carlogos.org/logo/Honda-logo-1920x...,0.0,NaN,NaN,NaN,NaN,NaN,7.0,...,1069.0,1069.0,1069,1069,1069,1069,1069,1069,1069,1069
9,Ford,Fusion Energi,https://www.carlogos.org/logo/Ford-logo-2003-1...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,62774.0,63359.0,"63,964","64,639","65,359","65,979","66,679","67,279‬","67,879","68,557"
10,Fiat,500e,https://www.carlogos.org/logo/Fiat-logo-2006-1...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,26788.0,26808.0,"26,868","26,893","26,933","26,978","27,018","27,068‬","27,118","27,211"
11,Smart,ED,https://www.carlogos.org/logo/Smart-logo-1994-...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,7555.0,7640.0,"7,746","7,82","7,876","7,95","8,004","8,004","8,004","8,004"
12,Chevrolet,Spark EV,https://www.carlogos.org/logo/Chevrolet-logo-2...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7369.0,7369.0,7369,7369,7369,7369,7369,7369,7369,7369
13,Honda,Accord PHV,https://www.carlogos.org/logo/Honda-logo-1920x...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1039.0,1039.0,1039,1039,1039,1039,1039,1039,1039,1039
14,Porsche,Panamera E-Hybrid,https://www.carlogos.org/logo/Porsche-logo-200...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4324.0,4479.0,"4,649","4,844","5,009","5,174","5,349","5,522‬","5,695‬","5,879"
15,Cadillac,ELR,https://www.carlogos.org/logo/Cadillac-logo-20...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2891.0,2891.0,2891,2891,2891,2891,2891,2891,2891,2891
16,BMW,i3,https://www.carlogos.org/logo/BMW-logo-2000-20...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38098.0,38429.0,"38,868","39,341","39,645","40,03","40,497","40,856","41,774","41,988"
17,Mercedes,B-Class ED,https://www.carlogos.org/logo/Mercedes-Benz-lo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4194.0,4195.0,4195,4197,4198,4199,4199,4200,4200,4200
18,BMW,i8,https://www.carlogos.org/logo/BMW-logo-2000-20...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5835.0,5922.0,"6,067","6,347","6,448","6,538","6,606","6,67","6,725","6,776"
19,Kia,Soul EV,https://www.carlogos.org/logo/Kia-logo-2560x14...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6396.0,6396.0,6397,6397,6398,"6,406‬","6,471","6,476","6,479","6,48"
20,VW,e-Golf,https://www.carlogos.org/logo/Volkswagen-logo-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14277.0,14677.0,"14,941","15,307","15,767","16,456","17,01","17,647","18,013","18,277"
21,Porsche,Cayenne S-E,https://www.carlogos.org/logo/Porsche-logo-200...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6185.0,6255.0,"6,36","6,435","6,53","6,63","6,735","6,835‬","6,94","7,05"
22,BMW,X5 xDrive40e,https://www.carlogos.org/logo/BMW-logo-2000-20...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16805.0,16814.0,"16,818","16,826","16,83","16,832","16,833","16,835","16,836","16,837"
23,Tesla,Model X,https://www.carlogos.org/logo/Tesla-logo-2003-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,69702.0,70752.0,"72,127","74,852","76,077","77,902","79,577","81,077","83,077","85,077"
24,Porsche,918 Spyder,https://www.carlogos.org/logo/Porsche-logo-200...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,203.0,203.0,203,203,203,203,203,203,203,203
25,Hyundai,Sonata PHEV,https://www.carlogos.org/logo/Hyundai-logo-sil...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6332.0,6378.0,"6,418","6,448","6,483","6,523","6,568","6,614‬","6,659‬","6,713‬"
26,Mercedes,S550e,https://www.carlogos.org/logo/Mercedes-Benz-lo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1470.0,1505.0,"1,556","1,616","1,666","1,69","1,706","1,759‬","1,784‬","1,801"
27,Volvo,XC90,https://www.carlogos.org/logo/Volvo-logo-2014-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6039.0,6139.0,"6,259","6,429","6,539","6,664","6,839","6,839","6,839","6,839"
28,Audi,A3 Sprtbk e-tron,https://www.carlogos.org/logo/Audi-logo-2009-1...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10233.0,10240.0,10240,10240,10240,10240,10240,10240,10240,10240
29,Other,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,35.0,35.0,35,35,35,35,35,35,35,35
30,Toyota,Prius Prime,https://www.carlogos.org/logo/Toyota-logo-1989...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55101.0,56500.0,"58,414","59,558","62,508","65,008","66,658","68,976‬","71,766‬","74,583‬"
31,BMW,330e,https://www.carlogos.org/logo/BMW-logo-2000-20...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8187.0,8240.0,"8,267","8,292","8,308","8,313","8,315","8,32",8326,8330
32,Chevrolet,Bolt EV,https://www.carlogos.org/logo/Chevrolet-logo-2...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,46211.0,47121.0,"48,517","50,176","51,161","52,881","55,006","56,313","57,313","58,313"
33,Mercedes,GLE 550e,https://www.carlogos.org/logo/Mercedes-Benz-lo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1957.0,2107.0,"2,292","2,472","2,642","2,747","2,812","2,991‬","3,101","3,169‬"
34,Mercedes,C350e,https://www.carlogos.org/logo/Mercedes-Benz-lo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3129.0,3302.0,"3,517","3,752","3,982","4,172","4,302","4,544‬","4,744‬","4,881"
35,BMW,740e,https://www.carlogos.org/logo/BMW-logo-2000-20...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1104.0,1112.0,"1,124","1,13","1,132","1,14","1,145","1,149","1,153","1,156"
36,Chrysler,Pacifica Hybrid,https://www.carlogos.org/logo/Chrysler-logo-20...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13067.0,13414.0,"13,804","14,195","14,58","14,975","15,39","15,99","16,59","17,382"
37,BMW,530e,https://www.carlogos.org/logo/BMW-logo-2000-20...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13662.0,14078.0,"14,805","15,713","16,157","16,763","17,073","17,378","17,799‬","18,298‬"
38,Tesla,Model 3,https://www.carlogos.org/logo/Tesla-logo-2003-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,163971.0,174021.0,"187,971","209,196","221,746","234,096","253,196","270,471","285,471","300,471"
39,Kia,Optima PHEV,https://www.carlogos.org/logo/Kia-logo-2560x14...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2526.0,2531.0,2531,"2,582","2,617","2,652","2,702","2,738‬","2,770‬","2,812‬"
40,Honda,Clarity BEV,https://www.carlogos.org/logo/Honda-logo-1920x...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2307.0,2395.0,"2,477","2,529","2,576","2,641","2,676","2,711","2,766","2,811"
41,Honda,Clarity PHEV,https://www.carlogos.org/logo/Honda-logo-1920x...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23221.0,24202.0,"25,018","26,048","26,848","27,688","28,088","28,683","29,478","30,233"
42,Volvo,XC60 PHEV,https://www.carlogos.org/logo/Volvo-logo-2014-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3113.0,3198.0,"3,293","3,468","3,608","3,713","3,893","3,893","3,893","3,893"
43,Mini,Countryman SE PHEV,https://www.carlogos.org/logo/Mini-logo-2001-1...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2197.0,2234.0,"2,319","2,363","2,403","2,453","2,483","2,508‬","2,543‬","2,563‬"
44,Hyundai,IONIQ EV,https://www.carlogos.org/logo/Hyundai-logo-sil...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,871.0,880.0,941,"1,003","1,058","1,098","1,168","9,629","9,723","9,796‬"
45,Cadillac,CT6 PHEV,https://www.carlogos.org/logo/Cadillac-logo-20...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,450.0,452.0,452,454,456,458,461,461,461,461
46,Volvo,S90 T8 PHEV,https://www.carlogos.org/logo/Volvo-logo-2014-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,689.0,724.0,774,814,859,914,974,988,1001,1010
47,Mitsubishi,Outlander PHEV,https://www.carlogos.org/logo/Mitsubishi-logo-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4896.0,5059.0,"5,291","5,513","5,726","6,003","6,179","6,434","6,806","7,075"
48,Kia,Niro PHEV,https://www.carlogos.org/logo/Kia-logo-2560x14...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4403.0,4648.0,"4,977","5,328","5,653","5,953","6,328","6,636‬","6,961‬","7,270‬"
49,Mercedes,GLC 350e,https://www.carlogos.org/logo/Mercedes-Benz-lo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,888.0,1108.0,"1,372","1,642","1,907","2,137","2,317","2,595","2,837","3,026"
50,Jaguar,I-Pace,https://www.carlogos.org/logo/Jaguar-logo-2012...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1001.0,1238.0,"1,466","1,702","1,915","2,075","2,235","2,541","2,811","2,987"
51,Hyundai,IONIQ PHEV,https://www.carlogos.org/logo/Hyundai-logo-sil...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1811.0,1874.0,"1,937","2,089","2,194","2,319","2,454","2,827‬","3,043‬","3,211"
52,Hyundai,Kona Electric,https://www.carlogos.org/logo/Hyundai-logo-sil...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,143.0,220.0,311,427,577,707,897,"1,068","1,254‬","1,461"
53,Audi,e-tron,https://www.carlogos.org/logo/Audi-logo-2009-1...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,253.0,"1,109","1,835","2,513","3,106","3,54","4,002","4,623","5,369"
54,Subaru,Crosstrek Hybrid,https://www.carlogos.org/logo/Subaru-logo-2003...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,79.0,126.0,191,261‬,376,466,586,721‬,842,970‬
55,Kia,Niro EV,https://www.carlogos.org/logo/Kia-logo-2560x14...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,40.0,159,208,288,343,433,622‬,880‬,"1,166"
56,Porsche,Taycan,https://www.carlogos.org/logo/Porsche-logo-200...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130

We see there is a row called `logo` which contains a link to the logo of the car company. We don't need this so we will drop this row. Additionally, we will fill all `NaN` values with 0s.

In [11]:
ev_sales.drop("Logo", inplace = True, axis = 1)
ev_sales = ev_sales.fillna(0)

ev_sales

,Make,Model,janv-12,Feb 2012,mars-12,Apr 2012,May 2012,juin-12,juil-12,Aug 2012,...,mars-19,Apr 2019,May 2019,juin-19,juil-19,Aug 2019,sept-19,oct-19,nov-19,Dec 2019
0,Chevrolet,Volt,603.0,1626.0,3915.0,5377.0,7057.0,8817.0,10666.0,13497.0,...,146667.0,147072.0,"147,48","147,813","148,063","148,337","148,687","148,757","148,907","149,057"
1,Toyota,Prius PHV,0.0,21.0,912.0,2566.0,3652.0,4347.0,5035.0,6082.0,...,42345.0,42345.0,42345,42345,42345,42345,42345,42345,42345,42345
2,Nissan,Leaf,676.0,1154.0,1733.0,2103.0,2613.0,3148.0,3543.0,4228.0,...,122534.0,123485.0,"124,701","125,857","126,795","127,912","128,96","129,847","130,987","132,214"
3,Tesla,Model S,0.0,0.0,0.0,0.0,0.0,12.0,31.0,74.0,...,147517.0,148342.0,"149,367","151,117","152,092","153,142","154,242","154,992","156,492","157,992"
4,Ford,C-Max Energi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,42231.0,42231.0,42231,42231,42231,42231,42231,42231,42231,42231
5,Ford,Focus Electric,2.0,2.0,2.0,2.0,8.0,97.0,135.0,169.0,...,9242.0,9242.0,9242,9242,9242,9242,9242,9242,9242,9242
6,Mitsubishi,i-MiEV,36.0,80.0,136.0,215.0,300.0,333.0,366.0,403.0,...,2028.0,2028.0,2028,2028,2028,2028,2028,2028,2028,2028
7,Toyota,Rav4 EV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2472.0,2472.0,2472,2472,2472,2472,2472,2472,2472,2472
8,Honda,Fit EV,0.0,0.0,0.0,0.0,0.0,0.0,7.0,16.0,...,1069.0,1069.0,1069,1069,1069,1069,1069,1069,1069,1069
9,Ford,Fusion Energi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,62774.0,63359.0,"63,964","64,639","65,359","65,979","66,679","67,279‬","67,879","68,557"
10,Fiat,500e,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,26788.0,26808.0,"26,868","26,893","26,933","26,978","27,018","27,068‬","27,118","27,211"
11,Smart,ED,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7555.0,7640.0,"7,746","7,82","7,876","7,95","8,004","8,004","8,004","8,004"
12,Chevrolet,Spark EV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7369.0,7369.0,7369,7369,7369,7369,7369,7369,7369,7369
13,Honda,Accord PHV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1039.0,1039.0,1039,1039,1039,1039,1039,1039,1039,1039
14,Porsche,Panamera E-Hybrid,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4324.0,4479.0,"4,649","4,844","5,009","5,174","5,349","5,522‬","5,695‬","5,879"
15,Cadillac,ELR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2891.0,2891.0,2891,2891,2891,2891,2891,2891,2891,2891
16,BMW,i3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,38098.0,38429.0,"38,868","39,341","39,645","40,03","40,497","40,856","41,774","41,988"
17,Mercedes,B-Class ED,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4194.0,4195.0,4195,4197,4198,4199,4199,4200,4200,4200
18,BMW,i8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5835.0,5922.0,"6,067","6,347","6,448","6,538","6,606","6,67","6,725","6,776"
19,Kia,Soul EV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6396.0,6396.0,6397,6397,6398,"6,406‬","6,471","6,476","6,479","6,48"
20,VW,e-Golf,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,14277.0,14677.0,"14,941","15,307","15,767","16,456","17,01","17,647","18,013","18,277"
21,Porsche,Cayenne S-E,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6185.0,6255.0,"6,36","6,435","6,53","6,63","6,735","6,835‬","6,94","7,05"
22,BMW,X5 xDrive40e,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,16805.0,16814.0,"16,818","16,826","16,83","16,832","16,833","16,835","16,836","16,837"
23,Tesla,Model X,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,69702.0,70752.0,"72,127","74,852","76,077","77,902","79,577","81,077","83,077","85,077"
24,Porsche,918 Spyder,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,203.0,203.0,203,203,203,203,203,203,203,203
25,Hyundai,Sonata PHEV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6332.0,6378.0,"6,418","6,448","6,483","6,523","6,568","6,614‬","6,659‬","6,713‬"
26,Mercedes,S550e,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1470.0,1505.0,"1,556","1,616","1,666","1,69","1,706","1,759‬","1,784‬","1,801"
27,Volvo,XC90,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6039.0,6139.0,"6,259","6,429","6,539","6,664","6,839","6,839","6,839","6,839"
28,Audi,A3 Sprtbk e-tron,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10233.0,10240.0,10240,10240,10240,10240,10240,10240,10240,10240
29,Other,Other,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,35.0,35.0,35,35,35,35,35,35,35,35
30,Toyota,Prius Prime,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,55101.0,56500.0,"58,414","59,558","62,508","65,008","66,658","68,976‬","71,766‬","74,583‬"
31,BMW,330e,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8187.0,8240.0,"8,267","8,292","8,308","8,313","8,315","8,32",8326,8330
32,Chevrolet,Bolt EV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,46211.0,47121.0,"48,517","50,176","51,161","52,881","55,006","56,313","57,313","58,313"
33,Mercedes,GLE 550e,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1957.0,2107.0,"2,292","2,472","2,642","2,747","2,812","2,991‬","3,101","3,169‬"
34,Mercedes,C350e,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3129.0,3302.0,"3,517","3,752","3,982","4,172","4,302","4,544‬","4,744‬","4,881"
35,BMW,740e,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1104.0,1112.0,"1,124","1,13","1,132","1,14","1,145","1,149","1,153","1,156"
36,Chrysler,Pacifica Hybrid,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,13067.0,13414.0,"13,804","14,195","14,58","14,975","15,39","15,99","16,59","17,382"
37,BMW,530e,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,13662.0,14078.0,"14,805","15,713","16,157","16,763","17,073","17,378","17,799‬","18,298‬"
38,Tesla,Model 3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,163971.0,174021.0,"187,971","209,196","221,746","234,096","253,196","270,471","285,471","300,471"
39,Kia,Optima PHEV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2526.0,2531.0,2531,"2,582","2,617","2,652","2,702","2,738‬","2,770‬","2,812‬"
40,Honda,Clarity BEV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2307.0,2395.0,"2,477","2,529","2,576","2,641","2,676","2,711","2,766","2,811"
41,Honda,Clarity PHEV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,23221.0,24202.0,"25,018","26,048","26,848","27,688","28,088","28,683","29,478","30,233"
42,Volvo,XC60 PHEV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3113.0,3198.0,"3,293","3,468","3,608","3,713","3,893","3,893","3,893","3,893"
43,Mini,Countryman SE PHEV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2197.0,2234.0,"2,319","2,363","2,403","2,453","2,483","2,508‬","2,543‬","2,563‬"
44,Hyundai,IONIQ EV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,871.0,880.0,941,"1,003","1,058","1,098","1,168","9,629","9,723","9,796‬"
45,Cadillac,CT6 PHEV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,450.0,452.0,452,454,456,458,461,461,461,461
46,Volvo,S90 T8 PHEV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,689.0,724.0,774,814,859,914,974,988,1001,1010
47,Mitsubishi,Outlander PHEV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4896.0,5059.0,"5,291","5,513","5,726","6,003","6,179","6,434","6,806","7,075"
48,Kia,Niro PHEV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4403.0,4648.0,"4,977","5,328","5,653","5,953","6,328","6,636‬","6,961‬","7,270‬"
49,Mercedes,GLC 350e,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,888.0,1108.0,"1,372","1,642","1,907","2,137","2,317","2,595","2,837","3,026"
50,Jaguar,I-Pace,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1001.0,1238.0,"1,466","1,702","1,915","2,075","2,235","2,541","2,811","2,987"
51,Hyundai,IONIQ PHEV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1811.0,1874.0,"1,937","2,089","2,194","2,319","2,454","2,827‬","3,043‬","3,211"
52,Hyundai,Kona Electric,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,143.0,220.0,311,427,577,707,897,"1,068","1,254‬","1,461"
53,Audi,e-tron,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,253.0,"1,109","1,835","2,513","3,106","3,54","4,002","4,623","5,369"
54,Subaru,Crosstrek Hybrid,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,79.0,126.0,191,261‬,376,466,586,721‬,842,970‬
55,Kia,Niro EV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,40.0,159,208,288,343,433,622‬,880‬,"1,166"
56,Porsche,Taycan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0,0,0,0,0,0,130